Below two numpy arrays are given with following columns. 

* Employee Details (1) Employee ID (2) Department (3) Salary
* Performance Metrics (1) Employee ID (2) Performance Score (out of 100) (3) Number of Projects Completed

Using these two arrays you need to complete set of tasks which are given in the notebook cells (along with hints)

In [1]:
import numpy as np

# Employee Details (1) Employee ID (2) Department (3) Salary
employee_details = np.array([
    [101, 'Sales', 55000, 'Satya Nadella'],  
    [102, 'HR', 52000, 'Emily Johnson'],    
    [103, 'IT', 72000, 'Fatima Razaak'],        
    [104, 'Sales', 60000, 'John Smith'],    
    [105, 'IT', 68000, 'Priya Singh'],      
    [106, 'HR', 54000, 'Li Wei'],           
    [107, 'IT', 71000, 'Michael Brown'],    
    [108, 'Sales', 59000, 'Sunita Sharma'], 
    [109, 'HR', 53000, 'Chen Wei']          
])

# Performance Metrics (1) Employee ID (2) Performance Score (out of 100) (3) Number of Projects Completed
performance_metrics = np.array([
    [101, 85, 5],
    [102, 78, 3],
    [103, 92, 7],
    [104, 88, 6],
    [105, 79, 4],
    [106, 81, 5],
    [107, 91, 8],
    [108, 77, 4],
    [109, 83, 4]
])

### Task 1: Merge above two numpy arrays using np.hstack

In [10]:
# write code here

merge=np.hstack((employee_details,performance_metrics))
merge

array([['101', 'Sales', '55000', 'Satya Nadella', '101', '85', '5'],
       ['102', 'HR', '52000', 'Emily Johnson', '102', '78', '3'],
       ['103', 'IT', '72000', 'Fatima Razaak', '103', '92', '7'],
       ['104', 'Sales', '60000', 'John Smith', '104', '88', '6'],
       ['105', 'IT', '68000', 'Priya Singh', '105', '79', '4'],
       ['106', 'HR', '54000', 'Li Wei', '106', '81', '5'],
       ['107', 'IT', '71000', 'Michael Brown', '107', '91', '8'],
       ['108', 'Sales', '59000', 'Sunita Sharma', '108', '77', '4'],
       ['109', 'HR', '53000', 'Chen Wei', '109', '83', '4']], dtype='<U21')

### Task 2: Print All the Salaries

In [11]:
employee_details[:,2]

array(['55000', '52000', '72000', '60000', '68000', '54000', '71000',
       '59000', '53000'], dtype='<U21')

### Task 3:  Print All the Salaries in Ascending Order

In [12]:
np.sort(employee_details[:,2])

array(['52000', '53000', '54000', '55000', '59000', '60000', '68000',
       '71000', '72000'], dtype='<U21')

### Task 4:  Iterate through entire array and print only employee id and name

In [7]:
for row in employee_details:
    print(f"Id:{row[0]}\t Name:{row[3]}")

Id:101	 Name:Satya Nadella
Id:102	 Name:Emily Johnson
Id:103	 Name:Fatima Razaak
Id:104	 Name:John Smith
Id:105	 Name:Priya Singh
Id:106	 Name:Li Wei
Id:107	 Name:Michael Brown
Id:108	 Name:Sunita Sharma
Id:109	 Name:Chen Wei

### Task 5: Print performance score of all the employees

In [16]:
score=merge[:,5]
score

array(['85', '78', '92', '88', '79', '81', '91', '77', '83'], dtype='<U21')

### Task 6: Convert these scores to float type by using astype(float) function

In [19]:
score_int=score.astype(float)
score_int

array([85., 78., 92., 88., 79., 81., 91., 77., 83.])

### Task 7:  Now print the average performance score of all the employees

In [20]:
np.average(score_int)

np.float64(83.77777777777777)

In [13]:
# First print departments from all the records

# write code here

In [14]:
# now print unique departments

# write code here

In [1]:
# First print all the records in HR department

# write code here

In [3]:
# Now from these records only print  the salary column. Convert that to float using astype(float) function

# write code here

In [4]:
# Take an average of this column using np.mean() function

# write code here