In [3]:
import numpy as np

In [8]:
# Sales data 
d1=np.array([        #quator 1
    [200,220,250],     # product A
    [150,180,210],     # product B
    [300,330,360]      # product C
])

d2=np.array([        #quator 2
    [209,231,256],     # product A
    [155,192,222],     # product B
    [310,340,375]      # product C
])

In [9]:
## ADDITION
d1+d2

array([[409, 451, 506],
       [305, 372, 432],
       [610, 670, 735]])

In [11]:
# calculate the Growth of data
(d2-d1)*100/d1

array([[4.5       , 5.        , 2.4       ],
       [3.33333333, 6.66666667, 5.71428571],
       [3.33333333, 3.03030303, 4.16666667]])

In [12]:
prices=np.array([
    [10,12,17],         ## Prices of product 1 in different countries 
    [9,8,12],           ## Prices of product 1 in different countries 
    [10,12,11]          ## Prices of product 1 in different countries 
])

In [15]:
d1_revenue=d1*prices         ## cal revenue
d1_revenue

array([[2000, 2640, 4250],
       [1350, 1440, 2520],
       [3000, 3960, 3960]])

In [16]:
## if 20% discount is given
d1_discount=d1_revenue*0.2
d1_discount

array([[400., 528., 850.],
       [270., 288., 504.],
       [600., 792., 792.]])

In [18]:
## Cal net revenue
net_revenue=d1_revenue-d1_discount
net_revenue

array([[1600., 2112., 3400.],
       [1080., 1152., 2016.],
       [2400., 3168., 3168.]])

In [20]:
## Cal total discount in quator 1
np.sum(d1_discount)

np.float64(5024.0)

In [23]:
## Dot product
features=np.array([
    [2000,3],        #house 1
    [4000,4]        #house 2
])
wt=np.array([200,46000])
## I want to calculate the total amount (i.e features*wt) instead of doing manually use dot product
np.dot(features,wt)

array([538000, 984000])

In [24]:
## Cross Product
a1=np.array([2,4,5])
a2=np.array([6,2,4])
np.cross(a1,a2)

array([  6,  22, -20])