In [12]:
import pandas as pd
import numpy as mp

In [13]:
data=pd.read_excel("Car Data Yr(2022).xlsx")

In [14]:
data.head(3)

   No                          Maker Year(2022) Total
0   1         3GB TECHNOLOGY PVT LTD          1     1
1   2  A1 HEAVY EQUIPMENTS DEVELOPER         13    13
2   3                A3T INCORPORTED          1     1

In [16]:
data.size

3892

In [17]:
data.shape

(973, 4)

In [22]:
data.describe()

               No
count  973.000000
mean   487.000000
std    281.025206
min      1.000000
25%    244.000000
50%    487.000000
75%    730.000000
max    973.000000