In [27]:
import pandas as pd

In [28]:
df=pd.read_csv("stock_returns.csv")
df.head()

   year  nvidia_returns  reliance_returns
0  2016          122.14             47.43
1  2017           83.91             12.09
2  2018          -50.03            -13.63
3  2019           82.19             22.42
4  2020          125.84             62.59

In [29]:
df.describe()

              year  nvidia_returns  reliance_returns
count     7.000000        7.000000          7.000000
mean   2019.000000       66.164286         24.980000
std       2.160247       59.611670         25.412166
min    2016.000000      -50.030000        -13.630000
25%    2017.500000       49.550000         11.175000
50%    2019.000000       82.190000         22.420000
75%    2020.500000      103.025000         40.565000
max    2022.000000      125.840000         62.590000

In [30]:
df.nvidia_returns.std(),df.nvidia_returns.var()

(np.float64(59.61166995847453), np.float64(3553.551195238095))

In [31]:
df.reliance_returns.std(),df.reliance_returns.var()

(np.float64(25.41216637754444), np.float64(645.7782000000001))

In [32]:
df=pd.read_excel("cricket_scores.xlsx")
df.head()

                 match  shubman_gill  rohit_sharma
0    India vs Pakistan            10            11
1       India vs Nepal            67            74
2    India vs Pakistan            58            56
3   India vs Sri Lanka            19            53
4  India vs Bangladesh           121             0

In [33]:
df.shubman_gill.std(),df.shubman_gill.var()

(np.float64(40.32575686415156), np.float64(1626.1666666666665))

In [34]:
df.rohit_sharma.std(),df.rohit_sharma.var()

(np.float64(33.16273008463969), np.float64(1099.7666666666667))

In [35]:
df.rohit_sharma.mean()

np.float64(45.833333333333336)

In [36]:
df.shubman_gill.mean()

np.float64(58.166666666666664)

In [37]:
df

                 match  shubman_gill  rohit_sharma
0    India vs Pakistan            10            11
1       India vs Nepal            67            74
2    India vs Pakistan            58            56
3   India vs Sri Lanka            19            53
4  India vs Bangladesh           121             0
5   Indis vs Australia            74            81